.voyage-planner-container{
    display: flex;
    flex-direction: row;
}

.voyage-route-container{
    width: 20%;
    height: 100vh;
    border-left: 2px solid grey;
    display: flex;
    flex-direction: column;
}
#port-select{
    width: 90%;
}
.port-locator{

}

.voyage-listing{

}

.voyage-map-container{
    width: 80%;
    height: 100vh;
}

#route-map{
  width: 100%;
  height: 90%;
}
#map-container{
    width: 100%;
    height: 100%;
}

#ports-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #ports-table td, #ports-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ports-table tr:nth-child(even){background-color: #f2f2f2;}

  #ports-table tr:hover {background-color: #ddd;}

  #ports-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8ABEB1;
    color: white;
  }

  .button {
    background-color: #8ABEB1; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }